.header {
    block-size: var(--headerSize);
    padding-inline: 1rem;
    display: flex;
    background-color: var(--grey40);
    justify-content: space-between;
}

.header-primary, .header-secondary {
    display: flex;
    align-items: center;
}